<div ng-controller="DashboardController">

	<table>
		<tr>
			<td class="padding-left">

				<h4>We're here to..</h4>
				<p>
					Provide the athlete taking their endurance and conditioning into their own hands the tools needed to set and meet goals.  Cardiovascular endurance is the foundation of any athlete's deadliest weapon, and we're here to help build that foundation for every athelete.
				</p>

				<h4>Who uses elevation training?</h4>
				<p>
					Elevation training is for anyone from professional athletes to the fitness enthusiast looking for the edge. Elevation training is commonly used in running, cycling, swimming, rowing, climbing, speed skating, triathlons, mixed martial arts, skiing, soccer, football, and hockey.
				</p>
			</td>
		</tr>
	</table>


</div>
