<div ng-controller="DashboardController">

	<table>
		<tr>
			<td class="padding-left">

				<h4>We're here to</h4>
				<p>
					Provide the athlete taking their endurance and conditioning into their own hands the tools to set and meet goals.
				</p>

				<h4>Who uses altitude training?</h4>
				<p>
					Elevation training is for anyone from professional athletes to the fitness enthusiast looking for that edge. Elevation training is commonly used in running, cycling, swimming, rowing, climbing, speed skating, triathlon, mixed martial arts, skiing, soccer, hockey, and football.
				</p>
			</td>
		</tr>
	</table>


</div>
