<div ng-controller="InitiativesController" class="padding-left">

	<div ng-if="showNew == false">
		<table>
			<tr>
				<td>
					<p><input type="submit" ng-click="beginAsNewUser()" class="btn btn-default" value="begin  as new user" /></p></td>
				<td>
					<div style="width: 10px;"></div>
				</td>
				<td>
					<p><input type="submit" ng-click="promptFindUser()" class="btn btn-default" value="login with name" /></p></td>
				</td>
			</tr>
		</table>
		<br />
	</div>

	<div ng-if="findUser == true">
		<p><input type="text" ng-model="searchUser.name" class="form-control" /></p>
		<p><input type="submit" ng-click="getUser()" class="btn btn-default" /></p>
	</div>

	<p ng-if="showUser">Hello, <strong>{{ loggedInUser.name }}</strong>!</p>

	<hr>

	<div ng-if="showNew == true">
		<p>New to Elevation Trainer? Start here!</p>
		<p>
			<input type="text" ng-model="newUser.name" placeholder="Name" class="form-control" />
		</p>
		<p>
			<input type="submit" ng-click="addUser()" value="Let's go!" class="form-control btn btn-warning" />
		</p>
		<hr>
	</div>

	<div ng-if="loggedInUser">
		<h4>Create a new initiative</h4>
		<p>Location
			<input type="text" ng-model="newInit.location" placeholder="" class="form-control" />
		</p>

		<p>Duration
			<select ng-model='newInit.duration' class="form-control">
				<option ng-repeat='t in time' ng-value='{{ t }}'>{{ t }}</option>
			</select>
		</p>

		<p>Commitment
			<input type="text" ng-model="newInit.commitment"
			placeholder="" class="form-control" />
		</p>

		<p><input type="submit" ng-click="addInit()" value="Create Initiative" class="form-control btn btn-warning" /></p>

		<hr>

		<p>
			<input type="submit" ng-click="getInits()" value="Show Initiatives" class="form-control btn btn-warning" />
		</p>

		<div>

			<table class="data inits" ng-if="inits.initiatives.length > 0">
				<thead>
					<tr class="top border_bottom bg_orange white">
						<th>Location</th>
						<th>Duration</th>
						<th>Commitment</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="init in inits.initiatives | filter: filter_name" class="top">
						<td class="border-right inits-padding-left">{{ init.location }}</td>
						<td class="border-right inits-padding-left">{{ init.duration }}</td>
						<td class="inits-padding-left">{{ init.commitment }}</td>
					</tr>
				</tbody>
			</table>
			<div ng-if="inits.initiatives.length == 0" class="main-content">
				<p>Add an initiative first!</p>
			</div>
		</div>
	</div>

</div>
